<div class="container">
  <form class="form-horizontal" ng-submit="loginSubmit()">
    <div class="form-group">
      <label class="col-sm-3 control-label">username:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Please input your username"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">password:</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" placeholder="Please input your password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-3">
        <button type="submit" class="btn btn-success">Login in</button>
      </div>
    </div>
  </form>
</div>
